aigpy==2022.7.8.1
anyio==3.7.1
black==23.3.0
certifi==2023.5.7
charset-normalizer==3.2.0
click==8.1.3
colorama==0.4.6
fastapi==0.99.1
flake8==6.0.0
h11==0.14.0
idna==3.4
MarkupSafe==2.1.3
mccabe==0.7.0
mutagen==1.46.0
mypy-extensions==1.0.0
packaging==23.1
pathspec==0.11.1
platformdirs==3.8.1
prettytable==3.8.0
prometheus-client==0.17.0
pycodestyle==2.10.0
pycryptodome==3.18.0
pydantic==1.10.9
pydub==0.25.1
pyflakes==3.0.1
requests==2.31.0
sniffio==1.3.0
starlette==0.28.0
tidal-dl==2022.10.31.1
typing_extensions==4.7.1
urllib3==2.0.3
uvicorn==0.22.0
wcwidth==0.2.6
