aigpy==2022.7.8.1
anyio==4.7.0
black==24.10.0
certifi==2024.12.14
charset-normalizer==3.4.0
click==8.1.7
colorama==0.4.6
fastapi==0.115.6
flake8==7.1.1
h11==0.14.0
idna==3.10
MarkupSafe==3.0.2
mccabe==0.7.0
mutagen==1.47.0
mypy-extensions==1.0.0
packaging==24.2
pathspec==0.12.1
platformdirs==4.3.6
prettytable==3.12.0
prometheus-client==0.21.1
pycodestyle==2.12.1
pycryptodome==3.21.0
pydantic==2.10.3
pydub==0.25.1
pyflakes==3.2.0
requests==2.32.3
sniffio==1.3.1
starlette==0.42.0
tidal-dl==2022.10.31.1
typing_extensions==4.12.2
urllib3==2.2.3
uvicorn==0.34.0
wcwidth==0.2.13
