aigpy==2022.7.8.1
anyio==4.0.0
black==23.11.0
certifi==2023.11.17
charset-normalizer==3.3.2
click==8.1.7
colorama==0.4.6
fastapi==0.104.1
flake8==6.1.0
h11==0.14.0
idna==3.4
MarkupSafe==2.1.3
mccabe==0.7.0
mutagen==1.47.0
mypy-extensions==1.0.0
packaging==23.2
pathspec==0.11.2
platformdirs==4.0.0
prettytable==3.9.0
prometheus-client==0.18.0
pycodestyle==2.11.1
pycryptodome==3.19.0
pydantic==2.5.1
pydub==0.25.1
pyflakes==3.1.0
requests==2.31.0
sniffio==1.3.0
starlette==0.32.0.post1
tidal-dl==2022.10.31.1
typing_extensions==4.8.0
urllib3==2.1.0
uvicorn==0.24.0.post1
wcwidth==0.2.10
